@using MVC.Areas.ModulStudentskaSluzba.Models.TokStudija
@using MVC.Helper
@model List<MVC.Areas.ModulStudentskaSluzba.Models.TokStudija.SlusaPredmeteVM>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Godina studija</th>
            <th>Naziv predmeta</th>
            <th>ECTS</th>
            <th>Ocjena</th>
            <th>Datum ocjene</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SlusaPredmeteVM x in Model)
        {
            <tr>
                <td>@x.GodinaStudija</td>
                <td>@x.NazivPredmeta</td>
                <td>@x.ECTS</td>
                <td>@x.Ocjena</td>
                <td>@x.DatumOcjene.ToMyStrDMYYYY("")</td>
            </tr>
        }
    </tbody>
</table>